
<h3><b>User Data</b></h3>
<hr><br>
<Label>Id : </Label>{{data.id}}<br>
<Label>First Name : </Label>{{data.firstname}}<br>
<Label>Last Name : </Label>{{data.lastname}}<br>
<Label>E-mail : </Label>{{data.email}}<br>
<Label>Phone : </Label>{{data.phone}}<br>
<!-- <Label>Password : </Label>{{data.password}}<br> -->
<Label>Created Date : </Label>{{data.createdDate}}<br>
<Label>Updated Date : </Label>{{data.updatedDate}}<br>
<Label>Status : </Label>{{data.status}}<br>
<button mat-raised-button color="primary" (click)="onNoClick()">Ok</button>

<!-- <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Id" [value]="data.id" disabled>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="First Name" [value]="data.first_name" disabled>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Last Name" [value]="data.last_name" disabled>
    </mat-form-field>
    <br>
    <img src="{{data.avatar}}" alt="Smiley face" height="1%" width="15%">
  </div><br>
  <button mat-raised-button color="primary" (click)="onNoClick()">Ok</button> -->
 