<body>
    <h3><b>Your Information</b></h3>
    <hr><br>
    <Label>Id : </Label>{{app.profiledata[0].id}}<br>
    <Label>First Name : </Label>{{app.profiledata[0].firstname}}<br>
    <Label>Last Name : </Label>{{app.profiledata[0].lastname}}<br>
    <Label>E-mail : </Label>{{app.profiledata[0].email}}<br>
    <Label>Phone : </Label>{{app.profiledata[0].phone}}<br> 
    <Label>Password : </Label>{{app.profiledata[0].password}}<br> 
    <Label>Created Date : </Label>{{app.profiledata[0].createdDate}}<br>
    <Label>Updated Date : </Label>{{app.profiledata[0].updatedDate}}<br>
    <Label>Status : </Label>{{app.profiledata[0].status}}<br>

    <button mat-raised-button color="primary" (click)="ok()">OK</button><br><br>
</body>