<div class="container">
      <header>
        <div layout="row" >
            <img src="https://cdn.onlinewebfonts.com/svg/img_464825.png">
            <h1 style="color:white">Login Employee</h1>
        </div>
      </header>

      <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
       <div class="example-container">
          <mat-form-field>
              <input matInput placeholder="Enter Phone No." formControlName="phno" #phno>
          </mat-form-field>

          <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="pass" #pass>
          </mat-form-field>

          <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile class="Form-Group">
                  <button mat-raised-button type="submit" >Login</button>
               </mat-grid-tile>

              <mat-grid-tile class="Form-Group">
                  <button mat-raised-button (click)="register()">Sign up</button>
              </mat-grid-tile>

          </mat-grid-list>
        </div>  
      </form>
</div>