<div class="container">
    <header>
      <div layout="row" >
          <img src="https://cdn.onlinewebfonts.com/svg/img_464825.png">
          <h1 style="color:white">Login Employee</h1>
      </div>
    </header>

    <form (ngSubmit)="onSubmit()" [formGroup]="userForm1">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <mat-form-field class="Form-Group" >
                        <input matInput placeholder="First Name" formControlName="fnm" #fnm>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="Form-Group" >
                        <input matInput placeholder="Last Name" formControlName="lnm" #lnm>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="Form-Group" >
                        <input matInput placeholder="Phone No." formControlName="phno" #phno>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="Form-Group" >
                        <input matInput placeholder="Email" formControlName="email" #email>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="Form-Group" >
                        <input matInput type="password" placeholder="Password" formControlName="pass" #pass>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="Form-Group" >
                        <input matInput type="password" placeholder="Conform Password" formControlName="cpass" #cpass>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile class="Form-Group">
                <button mat-raised-button type="submit" >Register</button>
             </mat-grid-tile>

        </mat-grid-list>

    </form>
</div>