
<div class="signin-content">
    <mat-card>
        
        <div class="div-1">
           <div  class="div-2">
             <div class="div-2A">
               <img src="https://media.licdn.com/dms/image/C510BAQFQhMPOLdMp1w/company-logo_200_200/0?e=2159024400&v=beta&t=6E3tVnjsxwY8ple4O8J2ftZgJBRRBaEMJ1IhCZk36Gk" alt="">
             </div>
           </div>
           <div class="div-3">
              <div class="div-4">
                Sign in to Infinity
                <div class="div-5">
                    "Innovation is the key"
                 </div>
              </div>

             
              
            </div>          
          </div>
        
      

      <mat-card-content>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <mat-input-container class="full-width-input" >
          <input matInput placeholder="User Name" formControlName="phone" required>
             <mat-error *ngIf="userForm.controls.phone.hasError('required')" class="alert alert-danger" >
                    Username/Phone No. Required
              </mat-error>
          </mat-input-container>

          <div >
            <a  (click)="forget()" class="forget">Forget Password?</a>
          </div>
          
          <mat-input-container class="full-width-input">
          <input matInput type="password" placeholder="Password"   formControlName="password" required>
          </mat-input-container>
          
          <mat-card-actions >
           <div class="b"> 
             <div class="b1">
                 <button mat-button><a (click)="register()">Create account</a></button>
              </div>
              <div class="b2">
                <div class="b3">
                 <button mat-raised-button color="primary" type="submit">Login</button>
                </div>
              </div>
            </div> 
            </mat-card-actions>
          
        </form>
      </mat-card-content>
    </mat-card>
  </div>
