<!-- <div class="container">
  <header>
    <div layout="row" >
        <img src="https://cdn.onlinewebfonts.com/svg/img_464825.png">
        <h1 style="color:white">Login Employee</h1>
    </div>
  </header>-->

 

<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <p>Please login to continue</p>
          <mat-input-container class="full-width-input">
            <input matInput placeholder=" Phone No." formControlName="phno" required>
            <!-- <mat-error *ngIf="isFieldInvalid('phno')"> 
              Please inform your phone no.
            </mat-error> -->
          </mat-input-container>
          <mat-input-container class="full-width-input">
            <input matInput type="password" placeholder="Password"   formControlName="password" required>
            <!-- <mat-error *ngIf="isFieldInvalid('password')">
              Please inform your password
            </mat-error> -->
          </mat-input-container>
          <button mat-raised-button color="primary" type="submit">Login</button>
          <button mat-raised-button color="primary" (click)="register()">Sign up</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>