
mat-card-create{
    border-radius: 10px;
}
mat-card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
  }
  .signin-content {
    padding: 60px 1rem;
  }
  .full-width-input {
    width: 100%;
  }

 .div-a{
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .div-1{
    display: flex;
    align-items: center;
    justify-content: center; 
 }
 img{
     width: 100px;
 }

 .mat-card-create{
     margin-top: 15px;
 }


  .forget{
      float: right;
  }
.b2{
width: 252px;
border-radius: 10px;
}




