@import url('//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css');

  mat-card {
    padding: 0!important;
    width: 50%;
    height: 80%;
  }
    mat-toolbar {
      background-color: blue;
      width: 50%;
      height: 80%;
    }
 
