@import url('//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css');

    .main {
      justify-content: space-between; 
    }

    mat-card{
      justify-content: space-around;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom:20px;
    }