   <div class="signin-content">
      <mat-card>
        <mat-card-content>
          <form>
            <p>USER INFORMATION</p>
            <mat-input-container class="full-width-input">
                <input matInput  placeholder="ID"  >{{app.profiledata[0].id}}
              </mat-input-container>
            <mat-input-container class="full-width-input">
              <input matInput placeholder=" First Name">{{app.profiledata[0].firstname}}
            </mat-input-container>
            <mat-input-container class="full-width-input">
              <input matInput  placeholder="Last Name">{{app.profiledata[0].lastname}}
            </mat-input-container>
            <mat-input-container class="full-width-input">
              <input matInput placeholder="Phone No.">{{app.profiledata[0].phone}}
            </mat-input-container>
            <mat-input-container class="full-width-input">
              <input matInput  placeholder="E-mail">{{app.profiledata[0].email}}
            </mat-input-container>
            <mat-input-container class="full-width-input">
              <input matInput type="password" placeholder="Password">{{app.profiledata[0].password}}
            </mat-input-container>
            <mat-input-container class="full-width-input">
              <input matInput type="password" placeholder="Confirm Password">{{app.profiledata[0].cpassword}}
            </mat-input-container>
            <mat-input-container class="full-width-input">
                <input matInput  placeholder="Created Date">{{app.profiledata[0].createdDate}}
              </mat-input-container>
              <mat-input-container class="full-width-input">
                  <input matInput  placeholder="Updated Date">{{app.profiledata[0].updatedDate}}
                </mat-input-container>
            <button mat-raised-button (click)="ok()">OK</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

<!-- <body>
    <h3><b>Your Profile</b></h3>
    <hr><br>
    <Label>Id : </Label>{{app.profile[0].id}}<br>
    <Label>First Name : </Label>{{app.profile[0].firstname}}<br>
    <Label>Last Name : </Label>{{app.profile[0].lastname}}<br>
    <Label>E-mail : </Label>{{app.profile[0].email}}<br>
    <Label>Phone : </Label>{{app.profile[0].phone}}<br> -->
                       <!-- <Label>Password : </Label>{{data.password}}<br> -->
    <!-- <Label>Created Date : </Label>{{app.profile[0].createdDate}}<br>
    <Label>Updated Date : </Label>{{app.profile[0].updatedDate}}<br>
    <Label>Status : </Label>{{app.profile[0].status}}<br>
</body> -->
