mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .signin-content {
    padding: 60px 1rem;
  }
  .full-width-input {
    width: 100%;
  }
  p{
      background-color:  rgb(91, 12, 196);
      color: snow;
  }
/* body{
  width: 50%;
    height: 50%;
    border: 2px solid;
    margin-top:50px;
    margin-left:50px;
    margin-right:80px;
    text-align: left;
    padding-left: 15px;
} */
