.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}

nav{
  font-size: 18px solid !important;
  /* border: 1px solid #e8e8e8; */
  padding: 16px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
}
      
 