<div>
        <nav mat-tab-nav-bar>
                <a mat-tab-link *ngFor="let tabLink of routeLinks;
                 let i = index" [routerLink]="tabLink.link" [active]="activeLinkIndex === i" (click)="activeLinkIndex = i">
                        {{tabLink.label}}
                </a>
        </nav>
        <router-outlet></router-outlet>
</div>

<!--
        <div class="demo-tab-group">
        <mat-tab-group>
                <mat-tab label="User">
                        <app-user></app-user>
                </mat-tab>
                <mat-tab label="Profile">
                        <app-profile></app-profile>
                </mat-tab>
        </mat-tab-group>
</div>
        <nav mat-tab-nav-bar>
                
                        <a mat-tab-link
                        *ngFor="let tabLink of tabLinks; let i = index"
                        [routerLink]="tabLink.link"
                        routerLinkActive="active"
                        [active]="active"
                        >
                        {{tabLink.label}}
                        </a>
        </nav>
        <div>
                <router-outlet></router-outlet>
        </div> -->