.demo-tab-group {
  padding: 20px;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom:20px;
}

mat-card{
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom:20px;
}